.difficulty-buttons-row {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0; /* Add some margin for spacing */
}

.difficulty-button {
    width: 20%;
    background-color: blue;
    color: aquamarine;
    border: solid black 2px;
    text-align: center;
    padding: 10px; /* Add padding for better click area */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.difficulty-button:hover {
    background-color: darkblue; /* Darken background on hover */
    color: white; /* Change text color on hover */
}

.active{
    background-color: darkblue; 
    color: white; /* Darkens when selected */
}

/* Mobile styling */
@media (max-width: 600px) {
    .difficulty-button {
        width: 30%; /* Make buttons wider on smaller screens */
        padding: 5px; /* Adjust padding for smaller screens */
    }
}
