.row {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

@font-face {
    font-family: 'gba-mmbn';
    src: url('../fonts/Mega-Man-Battle-Network.ttf') format('truetype');
}

.header-title {
    font-family: 'gba-mmbn';
    margin-bottom: 2%;
    text-align: center;
    font-size: 24px;
    line-height: 1.6;
    color: white;
}

.header-title span{
    background-color: rgba(54, 76, 240, 0.5); /* Simulates highlighting */
}

img {
    width: 20%;
    height: auto;
    margin: 0 10px;
}

/* Mobile styling */
@media (max-width: 600px) {
    .header-title {
        font-size: 18px;
        line-height: 1.5;
    }

    img {
        width: 30%;
        height: auto;
    }
}
