.reset-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    color: aquamarine;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  }

.reset-button:hover{
    background-color: darkblue; 
    color: white; 
}

  